name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    strategy:
      matrix:
        ruby: ['3.0', '3.1', '3.2', '3.3']
        gemfile: ['6.1.7.7', '7.0.0', '7.1.0']
        couchbase: ['7.1.0', '7.2.0', '7.6.3']
        exclude:
          # Ruby 3.3 doesn't support Rails 6.1
          - ruby: '3.3'
            gemfile: '6.1.7.7'
      fail-fast: false
    runs-on: ubuntu-22.04
    name: ${{ matrix.ruby }} rails-${{ matrix.gemfile }}  couchbase-${{ matrix.couchbase }}
    steps:
    - uses: actions/checkout@v3
    - run: sudo apt-get update && sudo apt-get install libevent-dev libev-dev libtinfo5
    - name: Downgrade to CMake 3.27
      run: |
        sudo apt-get remove -y cmake
        wget https://github.com/Kitware/CMake/releases/download/v3.27.9/cmake-3.27.9-linux-x86_64.sh
        chmod +x cmake-3.27.9-linux-x86_64.sh
        sudo ./cmake-3.27.9-linux-x86_64.sh --skip-license --prefix=/usr/local
    - run: cmake --version
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: sudo ./ci/run_couchbase.sh $COUCHBASE_VERSION $COUCHBASE_BUCKET $COUCHBASE_USER $COUCHBASE_PASSWORD
    - run: bundle exec rspec
    env:
      ACTIVE_MODEL_VERSION: ${{ matrix.gemfile }}
      BUNDLE_JOBS: 4
      BUNDLE_PATH: vendor/bundle
      COUCHBASE_BUCKET: default
      COUCHBASE_USER: tester
      COUCHBASE_PASSWORD: password123
      COUCHBASE_VERSION: ${{ matrix.couchbase }}
